<a href="https://colab.research.google.com/github/ihssene-nasa/CLA/blob/main/CLA_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def palindrom(string):
	left_pos = 0
	right_pos = len(string) - 1
	
	while right_pos >= left_pos:
		if not string[left_pos] == string[right_pos]:
			return False
		left_pos += 1
		right_pos -= 1
	return True
print(palindrom('aza'))

True

In [3]:
def prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(prime(9))

False

In [4]:
def test(n):
    if n in range(0,10):
        print( n," is in the range")
    else :
        print(n , " is outside the range")
test(5)

5  is in the range

In [5]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(6))

720

In [6]:
def reverse(s):
  str = ""
  for i in s:
    str = i + str
  return str

reverse("Ihssene")

'enesshI'

In [9]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum([21,8,14,7]))

50

In [10]:
def max_2( a, b ):
    if a > b:
        return a
    return b

def max_3( a, b, c ):
    return max_2( a, max_2( b, c ) )
print(max_3(2, -8, 6.75 ))

6.75